<%= form_for @daywod, :url => main_app.wod_daywods_path, :html => { :class => "new_wod_daywod" } do |f| %>
  <div class="field">
    <%= f.label :performed, "WOD Date" %>
    <%= f.date_select :performed %> 
  </div>
  
  <div class="field">
    <%= f.label :personal, "Personal" %>
    <%= f.check_box :personal %> 
  </div>

  <div class="actions">
    <%= f.submit "Create Daily WOD" %> 
  </div>
<% end %>