<h1 id="wod_name"><%= link_to @wod.name, @wod %> - <%= @daywod.performed %></h1>

  <table class="wod_details">
      <tr>
        <th>Description</th>
        <td><%= @wod.description.gsub(/\n/, '<br>').html_safe %>
      </tr>  
      <tr>
        <th>Sequence</th>
        <td><%= @wod.seq.upcase %>
      </tr>  
      <tr>
        <th>Type</th>
        <td><%= @wod.wod_type %>
      </tr>  
  </table>

<strong><p>Results</p></strong>

<% if current_user %>
  <%= link_to "Add Result", new_wod_daywod_result_path(@wod, @daywod) %>
<% end %>

<% unless @daywod.results.empty? %>
  <table class="results" summary="Daywod Results">
      <tr>
        <th>Athlete</th>
        <% if @wod.wod_type == "Time" %>
          <th>Time</th>
        <% else %>
          <th>Result</th>
        <% end %>
        
        <th>Rx</th>
        <th>Notes</th>
      </tr>
      <%= render @results %>
  </table>
  <%= will_paginate @results %>
<% end %>