<h1><%= link_to @wod.name, @wod %> - <%= @daywod.performed %></h1>
<strong><p>Results</p></strong>

<% if signed_in? %>
<%= link_to "Add Result", new_wod_daywod_result_path(@wod, @daywod) %>
<% end %>

<% unless @daywod.results.empty? %>
	<table class="results" summary="Daywod Results">
			<tr>
				<th>Athlete</th>
				<th>Result</th>
			</tr>
			<%= render @results %>
	</table>
	<%= will_paginate @results %>
<% end %>