<tr>
  <td><%= link_to wod.name, wod %></td>
  <td>
    <%= result_avg(wod, true) %>
  </td>
  <td>
    <%= result_avg(wod, false) %>
  </td>
  <td>
    <%= link_to "Create Daily WOD", new_wod_daywod_path(wod) %>
  </td>
    <% if current_user && current_user.admin? %>
        <td>
          <%= link_to "Edit", edit_wod_path(wod) %>
        </td>  
        <td>
          <%= link_to "Delete", wod, :method => :delete, :confirm => "You sure?",
                                      :title => "Delete #{wod.name}" %>
        </td>
    <% end %>
</tr>
<tr>
  <td colspan="4" class="wod_desc"><%= desc_layout(wod) %></td>
</tr>