
<h1><%= @wod.name %></h1>

<strong>Description</strong> <br />
<%= @wod.desc %><br />
<strong>Sequence</strong> <%= @wod.seq %><br />
<strong>For </strong> <%= @wod.wod_type %><br />
<p>
<%= link_to "Edit WOD", edit_wod_path(@wod) %>
<p>

<p>
<%= link_to "Create Daily WOD", new_wod_daywod_path(@wod) %>
<p>

<% unless @wod.daywods.empty? %>
	<table class="daywods" summary="Wod daywods">
		<strong>Dates Performed</strong>
		<%= render @daywods %>
	</table>
	<%= will_paginate @daywods %>
<% end %>