
<h1 id="wod_name"><%= @wod.name %></h1>

<strong>Description</strong> <br />
<pre><%= @wod.description %></pre><br />
<strong>Sequence</strong> <%= @wod.seq.upcase %><br />
<strong>For </strong> <%= @wod.wod_type %><br />
<% if current_user && current_user.admin %>
  <p>
    <%= link_to "Edit WOD", edit_wod_path(@wod) %>
    <%= link_to "Create Daily WOD", new_wod_daywod_path(@wod) %>
  <p>
<% end %>

<% unless @wod.daywods.empty? %>
  <table id="ath_results">
    <th>Dates</th>
    <% @daywods.each do |d| %>
      <th>
        <%= link_to d.performed,  wod_daywod_path(d.wod_id, d.id) %>
      </th>
    <% end %>

    <% @athletes.each do |a| %>
      <tr>
        <td><%= link_to a.name, a %></td>
        <% @daywods.each do |d| %>
          <td class = "recd">
            <% if d.athletes.include?(a) %>
              <%= link_to d.results.where(:user_id => a.id).first.formatted, d.results.where(:user_id => a.id).first  %>
            <% else %>

            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
