<table class="profile" summary="Profile information"> 
	<tr>
		<td class="main"> 
			<h1>
				<%= @user.name %> 
			</h1>
		</td>
		<td class="sidebar round">
			<strong>Name</strong> <%= @user.name %><br />
			<strong>URL</strong> <%= link_to user_path(@user), @user %><br />
			<strong>Admin</strong>
			<% if @user.admin == true %>True<% else %> False <% end %>
		</td>
  </tr>
</table>
<%= @results.count %> Workouts Completed
<table>
	<tr>
		<th>Date</th>
		<th>WOD</th>
		<th>Result</th>
		<th>Rx</th>
		<th>Notes</th>
	</tr>
	<%= render :partial => "results/uresult", :collection => @results, :as => :result %>
</table>