<table class="profile" summary="Profile information"> 
  <tr>
    <td class="main"> 
      <h1>
        <%= @user.name %> 
      </h1>
      <%= link_to 'Edit Profile', edit_user_path(@user) %>
      <%= link_to 'Edit Bio', edit_bio_path(@bio) if @bio %>
    </td>
    <td class="sidebar round">
      <strong>Workouts Completed </strong><%= @results.count %><br>
      <strong>Admin</strong>
      <% if @user.admin %>True<% else %> False <% end %>
    </td>
  </tr>
</table>

<% if @bio %>
<table class='bio'>
  <tr>
   Height: <%= @bio.height %> Weight: <%= @bio.weight %><br>
  </tr>
  <tr>
    Experience<br>
    <%= @bio.experience %>
  </tr>
  <tr>
    Favorite Workout<br>
    <%= @bio.fav %>
  </tr>
  <tr>
    Least Favorite Workout<br>
    <%= @bio.unfav %>
  </tr>
</table>

<table>
  <tr>
    <th>Date</th>
    <th>WOD</th>
    <th>Result</th>
    <th>Rx</th>
    <th>Notes</th>
  </tr>
  <%= render :partial => "results/uresult", :collection => @results, :as => :result %>
</table>
<% end %>
