<table class="profile" summary="Profile information"> 
  <tr>
    <td class="main"> 
      <h1>
        <%= @user.name %> 
      </h1>
      <%= link_to 'Edit Profile', edit_user_path(@user) %>
      <%= link_to 'Edit Bio', edit_bio_path(@bio) if @bio %>
    </td>
    <td class="sidebar round">
      <strong>Workouts Completed </strong><%= @results.count %><br>
      <strong>Admin</strong>
      <% if @user.admin %>True<% else %> False <% end %>
    </td>
  </tr>
</table>

<% if @bio %>
<table class='bio'>
  <tr>
   Height: <%= @bio.height_in_ft %> Weight: <%= @bio.weight %><br>
  </tr>
  <tr>
    Experience<br>
    <%= @bio.experience %>
  </tr>
  <tr>
    Favorite Workout<br>
    <%= @bio.fav %>
  </tr>
  <tr>
    Least Favorite Workout<br>
    <%= @bio.unfav %>
  </tr>
</table>

<table>
	<% @wods.each do |w| %>
		<tr>
			<td><%= link_to w.name, w %></td>
			<% w.results.where(user_id: @user.id).each do |r| %>
				<td><%= link_to r.formatted, r %><td>
			<% end %>
		</tr>
	<% end %>
</table>
<% end %>
