<tr>
  <td><%= result.daywod.performed %></td>
  <td><%= result.wod.name %></td>
  <td><%= result.formatted %></td>
  <td>
    <%= "\u2714" if result.rx  == true %>
  </td>
  <td><pre><%= result.note %></pre></td>
</tr>
