<h1>Edit Result</h1>

<h2>Athlete</h2> <%= User.find(@result.user_id).name %>

<%= form_for @result, :url => wod_daywod_result_path, :html => { :class => "wod_daywod_result" }  do |f| %> 
    <%= render 'shared/error_messages', :object => f.object %>
    
    <% if @result.wod.wod_type != "Time" %>
      <% if @result.wod.wod_type == "Reps" %>
      <% else %>
        <div class="field">
          <%= f.label "Result" %><br />
          <%= f.number_field :recd, :min => 0, :value => 0 %>
        </div>
      <% end %>
    <% else %>
      <div class="field">
         <%= f.label "Minutes" %><br />
        <%= f.number_field :mins, :min => 0, :value => 0 %>
      </div>
      <div class="field">
         <%= f.label "Seconds" %><br />
        <%= f.number_field :secs, :sec => 0, :value => 0 %>
      </div>
    <% end %>

    <div class="field">
      <%= f.label "Rx" %><br />
      <%= f.check_box :rx %> 
    </div>

    <div class="field">
      <%= f.label "Note" %><br>
      <%= f.text_area :note, :size => "30x5" %>
    </div>
    
    <div class="actions">
      <%= f.submit "Update" %> 
    </div>
<% end %>