<h1>Edit Result</h1>

<h2>Athlete: <%= @result.user.name %></h2>
<% if current_user && (current_user.admin || current_user = @result.user) %>
    <%= link_to "Delete Result", @result, :method => :delete, :confirm => "You sure?",
                  :title => "Delete Result" %>
    <br>
<% end %>

<%= form_for @result, :url => wod_daywod_result_path, :html => { :class => "wod_daywod_result" }  do |f| %> 
    <%= render 'shared/error_messages', :object => f.object %>

    <% if @wod.wod_type != "Time" %>
      <% if @wod.wod_type == "Reps" %>
        <% if @wod.baserep == 1 %>
          <div class="field">
            <%= f.label "Result" %><br />
            <%= f.number_field :recd, :min => 0, :value => 0 %>
          </div>
        <% else %>
          <div class="field">
            <%= f.label "Rounds" %><br />
            <%= f.number_field :rds, :min => 0, :value => 0 %>
          </div>
          <div class="field">
            <%= f.label "Reps" %><br />
            <%= f.number_field :reps, :min => 0, :value => 0 %>
          </div>
        <% end %>
      <% else %>
        <div class="field">
          <%= f.label "Result" %><br />
          <%= f.number_field :recd, :min => 0, :value => 0 %>
        </div>
      <% end %>
    <% else %>
      <div class="field">
        <%= f.label "Minutes" %><br />
        <%= f.number_field :mins, :min => 0, :value => 0 %>
      </div>
      <div class="field">
        <%= f.label "Seconds" %><br />
        <%= f.number_field :secs, :min => 0, :value => 0 %>
      </div>
    <% end %>

    <div class="field">
      <%= f.label "Rx" %><br />
      <%= f.check_box :rx %> 
    </div>

    <div class="field">
      <%= f.label "Note" %><br>
      <%= f.text_area :note, :size => "30x5" %>
    </div>
    
    <div class="actions">
      <%= f.submit "Update" %> 
    </div>
<% end %>