<h1>Cheetah Crossfit</h1> 
	<p>
		Welcome to the Cheetah Crossfit Home Page
	</p>
	<% if signed_in? %>
		<%= link_to "Create new WOD", createwod_path, :class => "newwod_button round" %>
	<% else %>
		<%= link_to "Sign up now!", signup_path, :class => "signup_botton round" %>
	<% end %>
	
	<%= form_tag wods_path, :method => 'get' do %>
		<p>
			<%= text_field_tag :search, params[:search] %>
 			<%= submit_tag "Search", :name => nil %>
		</p>
	<% end %>


	<% if Daywod.count > 0 %>
		
	<% end %>
