<%= image_tag('cflogo.png') %>
<div class="sign_in_up round">
  <% if signed_in? %>
    <%= link_to "Create new WOD", new_wod_path %>
    <%= link_to "Log a Workout", newworkout_path %>
  <% else %>
    <%= link_to "Sign up now!", signup_path %>
  <% end %>
</div>

<% @daywods.each do |w| %>
  <%= render partial: 'daywods/root_daywod', :locals => {:w => w } %>
<% end %>