
	<center>
		<% if signed_in? %>
			<%= link_to "Create new WOD", createwod_path, :class => "newwod_button round" %>
		<% else %>
			<%= link_to "Sign up now!", signup_path, :class => "signup_botton round" %>
		<% end %>
	</center>

	<% @daywods.each do |w| %>
		<% if w.personal == true %>
			<ul class="round journal">
				<li><%= w.performed %></li>
				<li>WOD: <%= link_to w.wod.name, wod_daywod_path(w.wod, w) %></li>
				<li><%= w.wod.desc %></li>
				<li><%= link_to "Enter Result", new_wod_daywod_result_path(w.wod, w) %></li>
			</ul>
		<% end %>
	<% end %>